<form action="/repolinks" method="POST">
<p>
    <label for="title">Enter Title</label>
    <input type="text" name="title">
</p>
<p>
    <label for="url">Enter the url</label>
    <input type="text" name="url">
</p>
<p>
    <label for="description">Enter a description</label>
    <input type="text" name="description">
</p>
<p>
    <label for="date">Enter date made</label>
    <input type="text" name="date">
</p>
<input type="submit" value="Create">
</form>