{{!-- Jeff's contribution --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RepoLinks Galore</title>
    <style>
        body { 
            background: rgba(246, 247, 239, .4);
        }
        p {
            font-size: 8px;
        }
        a {
            display: inline-block;
        }
        nav {
            background: skyblue;
        }
    </style>
</head>
<body>
    <header>
        <h1>RepoLinks Galore</h1>
        <nav>
            <a href="repolinks/new">New Post</a>
            <a href="/">Home</a>
            <a href="repolinks">Repos</a>

        </nav>

    </header>
    {{{body}}}
</body>
</html>